/*----------------------------------------*/
/* 11. Bread Crumb
/*----------------------------------------*/

/* ============== Bread Crumb version One ==============*/

.bread-crumb {
  position: relative;
  z-index: 9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  .wrapper {
    padding: 60px 0;
    text-align: center;
    h2 {
      font-size: 40px;
      font-weight: 700;
      color: var(--bg_white);
    }
    span {
      color: var(--bg_white);
      margin-top: 10px;
      font-size: 14px;
      font-weight: normal;

    }
    i{
      margin: 0 6px;
      font-size: 12px;
      display: inline-block;
      padding-top: 0px;
      font-weight: 600;
      color: #fff;
    }
  }
}
