/*----------------------------------------*/
/* 26.  Widget Section
/*----------------------------------------*/

/* ============= Widget Section one Start =============*/

.sidebar-widget {
  padding-left: 30px;
  .sidebar__widget-title {
    font-size: 22px;
    font-weight: 700;
    color: var(--heading_color);
    margin-bottom: 8px;
  }
  .search {
    .input {
      position: relative;
      margin-bottom: 10px;
      overflow: hidden;
      input {
        width: 100%;
        height: 60px;
        padding: 15px;
        border-radius: 5px;
        border: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border: 2px solid var(--border_color);
        line-height: initial;
        overflow: hidden;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
      }
      button {
        width: 60px;
        height: 60px;
        background: var(--theme_color);
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        line-height: initial;
        border-radius: 0 5px 5px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        z-index: 9;
        cursor: pointer;
        i {
          color: #fff;
        }
      }
    }
  }

  .recent-posts {
    .wrapper {
      padding: 30px 25px;
      border-radius: 10px;
      border: 2px solid var(--border_color);
      .blog-inner-items {
        margin-top: 15px;
        .item {
          display: flex;
          align-items: start;
          gap: 12px;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
          .img-file {
            width: 35%;
            img {
              border-radius: 5px;
            }
          }
          .text-file {
            width: 65%;
            h3 {
              font-size: 16px;
              font-weight: 700;
              color: var(--heading_color);
              transition: all 0.2s linear;
              text-transform: capitalize;
              margin: 0;
              &:hover {
                color: var(--theme_color);
              }
            }
            .footer-text {
              display: flex;
              gap: 5px;
              align-items: center;
              @media #{$lg} {
                display: block;
              }
              span {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

.sidebar-widget.widget_categories,
.sidebar-widget.widget_nav_menu {
  padding: 30px 25px;
  border-radius: 10px;
  border: 2px solid var(--border_color);
  margin-left: 30px;
  ul {
    li {
      margin-bottom: 5px;
      a {
        font-weight: 600;
        text-transform: capitalize;
        position: relative;
        padding-left: 18px;    transition: all .2s linear;
        &::after {
          font-family: "Font Awesome 5 Pro";
          font-weight: 900;
          content: "\f101";
          position: absolute;
          left: 0;
          top: -6px;
          font-size: 14px;    transition: all .2s linear;
        }
        &:hover{
          color: var(--theme_color);
          margin-left: 3px;
          &::after {
            color: var(--theme_color);
          }
        }
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.sidebar-widget.widget_tag_cloud {
  padding: 30px 25px;
  border-radius: 10px;
  border: 2px solid var(--border_color);
  margin-left: 30px;
 .tagcloud{
  a{
    background: #f4f4f4;
    border-radius: 4px;
    color: var(--tp-text-body);
    display: inline-block;
    font-size: 15px !important;
    font-weight: 500;
    height: 36px;
    line-height: 38px;
    margin-bottom: 10px;
    margin-right: 8px;
    padding: 0 15px;
    transition: all .2s linear;
    &:hover{
      background: var(--theme_color);
      color: var(--bg_white);
    }
  }
 }
}
.sidebar-widget.widget_media_image {
  padding: 30px 25px;
  border-radius: 10px;
  border: 2px solid var(--border_color);
  margin-left: 30px;

}

